@page
@using IOT_LED.Components
@model IOT_LED.Pages.IndexModel
@{
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Simple LED IOT</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
</body>
</html>

@(await Html.RenderComponentAsync<DataToggle>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>